{% extends "ProyectoWebApp/base.html"%}

{% load static%}

{% block content%}
    <h2 class="catalogo-servicio-titulo">PRODUCTO 1</h2>  
    <div class="catalogo-producto"> 
        <div class="catalogo-producto-imagen">
            <section>
                
                <p> <img src="../static/ProyectoWebApp/img/productos/cerdito-gurumi.jpeg" alt="" class="catalogo-servicio-imagen"></p>
            </section> 
        </div>

        <div class="catalogo-producto-informacion container-catalogo-producto-informacion">
            <div class="container-servicio">
                <div class="catalogo-servicio-nombre">NOMBRE </div>
                <p  class="catalogo-servicio-info">Cerdito</p>
            </div>

            <div class="container-servicio">
                <div class="catalogo-servicio-nombre">PROCEDENCIA </div>
                <p class="catalogo-servicio-info">Animal</p>
            </div>

            <div class="container-servicio">
                <div class="catalogo-servicio-nombre">DESCRIPCION </div>
                <p class="catalogo-servicio-info">Este cerdito lo hice con mucho cariño y esfuerzo, me llevo un día crear este patrón y mide aproximadamente 9 centímetros.</p>
            </div>

            <div class="container-servicio">
                <div class="catalogo-servicio-nombre">Precio:</div>
                <p class="catalogo-servicio-info">$1.000</p>
            </div>
            
            <input name="precio" hidden value="{{servicio.precio}}" />
            <form name="pay" action="/webpay-plus-create" method="POST">{% csrf_token %}
            <button class="catalogo-servicio-boton-webpay">COMPRAR</button>
        </div>
{% endblock%}