{% extends "ProyectoWebApp/base.html"%}

{% load static%}

{% block content%}

    {% for blog in blogs %}


<div>             
    <section>
<p>       
             <h2 style="color: #000000; background-color: rgb(243, 171, 205);
             margin: 1rem;
             padding: 1rem;
             text-align: center;
             font-weight: 500;
             font-size: 40;"
             >{{blog.titulo}} </h2>  
</p> 
</section>

<section>

            <p style="color: rgb(155, 53, 53); 
                    position: relative;
                    width: 759px;
                    height: 200px;
                    left: 46px;
                    top: 154px;

                    font: oblique bold 120% cursive;
                    font-weight: normal;
                    font-size: 30px;
                    line-height: 35px;"> {{ blog.contenido}} </p>
</section>
<section>
            
            <p> <img src="{{blog.imagen.url}}" alt="" style="   

                position: relative;
                    height: 494px;
                    left: 1250px;
                    top: -150px;
                    border: 10px solid rgb(0, 0, 0);
            margin: auto;
            padding: 0px 0px;
                "></p>
</section>

</div>


    {% endfor %}
{% endblock%}