{% extends "ProyectoWebApp/base.html"%}

{% load static%}

{% block content%}

    {% for servicio in servicios%}
<div> 
    <p> <h2 class="catalogo-servicio-titulo">{{servicio.titulo}} </h2>  
        

<section>
<div class="catalogo-servicio-descripcion">DESCRIPCION </div>
    <p class="catalogo-servicio-descripcion-info"> {{ servicio.contenido}} </p>

    <p  class="catalogo-servicio-nombre-info"> {{ servicio.nombre}} </p>
            
</section>
<section>
    <p class="catalogo-servicio-cuadro"/>

            <form name="pay" action="/webpay-plus-create" method="POST" class="catalogo-servicio-boton-Webpay">{% csrf_token %}
                
                <td><strong class="catalogo-servicio-precio">Precio:</strong></td>
                <td><strong class="catalogo-servicio-precio-info">{{servicio.precio}}</strong><input name="precio" hidden value="{{servicio.precio}}" /></td>
                <td><button class="catalogo-servicio-boton-Webpay-comprar">COMPRAR</button></td> 


</section>
<div class="catalogo-servicio-animeopelicula">ANIME O PELICULA </div>

<section>

    <p class="catalogo-servicio-animeopelicula-info"> {{ servicio.procedencia}} </p>
</section>

<section>
            
    <p> <img src="{{servicio.imagen.url}}" alt="" class="catalogo-servicio-imagen"></p>
</section>
</div>
    {% endfor %}
{% endblock%}