{% extends "ProyectoWebApp/base.html"%}

{% load static%}

{% block content%}

    {% for servicio in servicios%}
    <h2 class="catalogo-servicio-titulo">{{servicio.titulo}} </h2>  
    <div class="catalogo-producto"> 
        <div class="catalogo-producto-imagen">
            <section>
                
                <p> <img src="{{servicio.imagen.url}}" alt="" class="catalogo-servicio-imagen"></p>
            </section> 
        </div>

        <div class="catalogo-producto-informacion container-catalogo-producto-informacion">
            <div class="container-servicio">
                <div class="catalogo-servicio-nombre">NOMBRE </div>
                <p  class="catalogo-servicio-info"> {{ servicio.nombre}} </p>
            </div>

            <div class="container-servicio">
                <div class="catalogo-servicio-nombre">ANIME O PELICULA </div>
                <p class="catalogo-servicio-info"> {{ servicio.procedencia}} </p>
            </div>

            <div class="container-servicio">
                <div class="catalogo-servicio-nombre">DESCRIPCION </div>
                <p class="catalogo-servicio-info"> {{ servicio.contenido}} </p>
            </div>

            <div class="container-servicio">
                <div class="catalogo-servicio-nombre">Precio:</div>
                <p class="catalogo-servicio-info">{{servicio.precio}} </p>
            </div>
            
            <input name="precio" hidden value="{{servicio.precio}}" />
            <form name="pay" action="/webpay-plus-create" method="POST">{% csrf_token %}
            <button class="catalogo-servicio-boton-webpay">COMPRAR</button>
        </div>

    </div>
    {% endfor %}
{% endblock%}