{% extends "ProyectoWebApp/base.html"%}+

{% load static%}

{% block content%}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/mitifondo.png' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Creatividad</span>
            <span class="section-heading-lower">MityGurumis</span>
          </h2>
          <p class="mb-3">Entrega inmediata de los mejores patrones, productos e implementos para ti y tus amigurimis
          </p>
         
        </div>
      </div>
    </div>
  </section>

  
  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">Mitzy Arancibia </p>
            </div>
          </div>
        </div>
      </div>
    </section>
   

    <h2 class="catalogo-servicio-titulo">Producto Destacado</h2> 

    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{servicio.imagen.url}}" alt="" style="
          width: 50%;">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4" >
              <span class="section-heading-lower">{{servicio.nombre}}</span>
            </h2>
            <p class="mb-3">
              {{servicio.contenido}}
            </p>
            <a href="catalogo/{{servicio.id}}" class="commit-boton">Ir a ver el producto</a>
          </div>
        </div>
      </div>
    </section>

    <h2 class="catalogo-servicio-titulo">Ultimo Blog!</h2> 

    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4" >
              <span class="section-heading-lower">{{blog.titulo}}</span>
              </h2>
              <p class="mb-3">
                Si quieres saber mas con respecto a este blog, te invitamos a seleccionar el boton para tener mas informacion!
              </p>
              <a href="blog/" class="commit-boton">Ir a ver el blog</a>
          </div>
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{blog.imagen.url}}" alt="" style="
          width: 50%;">
          
        </div>
      </div>
    </section>

{% endblock %}

   