body {
  font-family: 'Lora';
  background: linear-gradient(to bottom, rgb(244 216 219),rgb(232 185 187) 80%, #ee9aae);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
}

p {
  line-height: 1.75;
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}

.site-heading {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Raleway';
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 800;
  line-height: 4rem;
  color: #000000;
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
  padding-bottom:.5rem;

}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
  color:#000000;
}


.section-heading .section-heading-under {
  display: block;
  font-size: 1rem;
  text-transform: none;
  font-weight: 300;
  margin-top:.5rem;
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}

#mainNav {
  background-color: rgba(234, 137, 154);
  font-family: 'Raleway';
}

#mainNav .navbar-brand {
  color: #791c3f;
  
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #791c3f;
  font-weight: 800;

}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: #791c3f;
  text-decoration: underline;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
    font-size: x-large;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: underline;
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #791c3f;
    text-decoration: underline;
  }
}

.btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 75%;
    float: left;
  }
  .intro .intro-text {
    left: 700;
    width: 60%;
    margin-top: 3rem;
    background-color: rgba(234, 137, 154);
    color: cornsilk;
    position: absolute;
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgb(242, 245, 240);
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(234, 137, 154);
  color: cornsilk;
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}

.cta .cta-innerv {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

@media (min-width: 992px) {
  .about-heading .about-heading-img {
    position: relative;
    z-index: 0;
  }
  .about-heading .about-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .product-item .product-item-title {
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
  }
  .product-item .product-item-img {
    position: relative;
    z-index: 0;
    max-width: 60vw;
  }
  .product-item .product-item-description {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    max-width: 50vw;
  }
}



@media (min-width: 992px) {
  .list-hours {
    width: 50%;
    font-size: 1.1rem;
  }
}

.address strong {
  font-size: 1.2rem;
}

.footer {
  background-color: rgba(234, 137, 154);
}



.btn {
  box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}



.font-weight-light {
  font-weight: 100 !important;
}

.mbtm{
  padding-top: 5rem;
}

.mbt{
  padding-top: 2rem;
}

.mbt1{
  padding-top: 1.25rem;
}

a.link{
  color: rgba(0, 0, 0, 0.7);
}

a.link:hover{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}

.section-content{
  font-family: 'Lora' !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 28px !important;
}

ul.errorlist{
  padding-top: .75rem;
  font-style: italic;
  color: red;
}

/*  ------  CATALOGO  ------  */
.catalogo-servicio-titulo{
  color:rgb(0, 0, 0);
  background-color:rgb(243, 171, 205);
  text-align: center;
  font-weight: 600;
  font-size: 46;
  display: block;
  font-family: 'Raleway';
  line-height: 1.2;
  margin: 1rem;
  padding: 1rem;
}

.catalogo-producto{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}

.catalogo-producto-informacion{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.catalogo-producto-imagen{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.catalogo-servicio-imagen{
  position:sticky;
  width: 500px;
  border: 5px solid rgb(0, 0, 0);
  margin: auto 200px;
  padding: 0px 0px;

}

.container-catalogo-producto-informacion{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: stretch;
  margin: 100px;
}

.container-servicio{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  
}

.catalogo-servicio-nombre{
  color: black;
  position: relative;
  font-size: 30px;
  margin: 0 auto;
  padding: 10px 0px;
}

.catalogo-servicio-info{
  color: rgb(155, 53, 53); 
  font: oblique bold 120% cursive;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  margin: 0 auto;
  padding: 10px 0px;

}

.catalogo-servicio-boton-webpay{
  background-color: #EA4C89;
  color: #FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  list-style: none;
  margin: 0;
  padding: 10px 1px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  width: 100;
  margin: 10px 10px;
  border: none;
}

.nav-container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.nav-item{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.nav-img{
  width: 290px;
}

.informacion-compra{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}

.informacion-compra-datos{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  width: 50%;
  text-align: center;
}

.informacion-compra-resumen{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  width: 50%;
}

.informacion-compra-texto{
  margin: 0rem 5rem;
}

.commit-nombre{
  color: black;
  position: relative;
  font-size: 25px;
  margin: 0 auto;
}

.commit-info{
  color: rgb(155, 53, 53); 
  font: oblique bold 120% cursive;
  font-weight: normal;
  font-size: 25px;
  margin: 0 auto;
}

.commit-boton{
  background-color: #EA4C89;
  color: #FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
  font-size: 25px;
  font-weight: 500;
  list-style: none;
  margin: 0;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  width: 100;
  margin: 10px 10px;
  border: none;
}

.home-producto{
  float: left;
  width: 50%;
  height: auto;
  box-sizing: border-box;
  border-radius: 0.25rem!important;

}

.home-producto-info{
  display: block;
    font-size: 3rem;
    font-weight: 100;
    color: #000000;
}

/*  ------  Footer  ------  */

.site-footer{
  background-color:rgba(234, 137, 154);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#000000;
  bottom: 0;
  
}

.site-footer hr{
  border-top-color:#bbb;
  opacity:0.5
}

.site-footer hr.small{
  margin:20px 0
}

.site-footer h6{
  color: #791c3f;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 25;
}

.site-footer a{
  color: #ffffff;
}

.site-footer a:hover{
  color:#3366cc;
  text-decoration:none;
}

.footer-links{
  padding-left:0;
  list-style:none
}

.footer-links li{
  display:block
}

.footer-links a{
  color:#791c3f;
  font-weight: 600;
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover{
  color:#3366cc;
  text-decoration:none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: nowrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
}

.centrado{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: nowrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  align-content: center;
}
/*  ------  Footer ICONOS ------  */
.social-icons li{
  display:inline-block;
  margin-bottom:4px
}

.footer-links.inline li{
  display:inline-block
}


.fa {
  padding: 15px;
  font-size: 30px;
  width: 2em;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  touch-action: none;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.social-icons a.facebook:hover{
  color: #3b5998;
  background-color: white;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #E1306C;
  color: white;
}
